@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
  scroll-behavior: smooth;
}
:root {
  --PrimaryColor: hsl(225, 50%, 48%);
  --SecondryColor: hsl(180, 17%, 95%);
  --ColorOne: hsl(15, 74%, 70%);
  --ColorTwo: hsl(28, 100%, 82%);
  --HoverColor: hsl(225, 56%, 59%);
  --TextColor: hsl(240, 1%, 48%);
  --BorderColor: hsl(0, 0%, 83%);
  --GreyText: rgba(145, 145, 145);
  --GreyBg: hsl(0, 0%, 96%);
  --transition: .4s ease-in-out;
  --boxshadow: box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 15px -3px rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-inline: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: .7rem 1.5rem;
  background: hsl(225, 50%, 48%);
  border: none;
  outline: none;
  color: white;
  border-radius: 3rem;
  cursor: pointer;
  justify-content: center;
  a {
    color: white;
    font-weight: 500;
  }

  &:hover {
    background-color: var(--HoverColor);
  }
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--GreyText);
}

p {
  font-size: 13px;
  color: var(--GreyText);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: black;
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: black;
}

/******************** NavBar *********************/
.navbar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;

  .navbarone {
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    background: var(--SecondryColor);

    .icon:hover {
      color: var(--PrimaryColor);
    }

    .atb {
      gap: 1rem;

      .myspan {
        color: black;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          color: var(--PrimaryColor);
          font-size: 700;
        }

        ;
      }

      ;
    }
  }

  .navbartwo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    top: 2rem;
    padding: 1.5rem 1rem;
    position: fixed;
    transition: 0.3s ease-in-out;

    .logodiv {
      .logo {
        width: 20%;
        height: 100%;
      }
    }

    .navBarMenu {
      .menu {
        gap: 2.5rem;

        .listItem {
          padding: .5rem 0;
          cursor: pointer;
          color: black;

          &:hover {
            color: var(--PrimaryColor);
            font-weight: 700;
          }
        }
      }
    }

    @media screen and (max-width:768px) {
      .navBarMenu {
        position: absolute;
        background: var(--SecondryColor);
        padding: 1.5rem;
        border-radius: 10px;
        top: 7rem;
        left: 100%;
        width: 80%;
        transform: translateX(50%);
        z-index: 2000;
        box-shadow: black 0px 10px 15px -3px, black 0px 4px 6px -2px;
        border: 3px solid white;
        transition: 0.4s ease-in-out;

        .menu {
          flex-direction: column;
          gap: 0.5rem;
          text-align: center;

          .listItem {
            padding: .5rem 0;
            cursor: pointer;
            color: black;

            &:hover {
              color: var(--PrimaryColor);
              font-weight: 700;
            }
          }
        }
      }

      .toggleIcon {
        .icon {
          font-size: 30px;
          color: black;
        }
      }

      .ShowNavBar {
        left: -30%;
        transition: .5s ease-in-out;
      }
    }
  }

  .navbar_With_Bg {
    background: var(--SecondryColor);
    padding: .5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-top: 1.5%;
  }
}

/******************** Home *********************/
.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;

  .mainText {
    color: black;
    font-weight: 700;
    font-size: 15px;
    line-height: 2.5rem;
  }

  .homeImages {
    width: 100%;
    margin: 1rem auto 0;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5rem;

    .videoDiv {
      width: 100%;

      .video {
        border-radius: 10rem;

      }
    }

    .plane {
      position: absolute;
      width: 100%;
      top: 10%;
      left: -2%;
    }

  }
}

/******************** Search *********************/
.search {
  .sectionContainer {
    width: 100%;
    padding: 1.5rem;
    border: 2px solid var(--GreyBg);
    border-radius: 16px;
    row-gap: 2rem;

    .btns {
      background: var(--SecondryColor);
      padding: 0.5rem;
      border-radius: 1rem;
      flex-direction: column;
      width: 100%;
      margin: auto;

      .singleBtn {
        padding: .8rem 1.5rem;
        font-size: 13px;
        border-radius: 3rem;
        width: 80%;
        text-align: center;

        &:hover {
          background-color: var(--PrimaryColor);
          color: white;
          cursor: pointer;
          font-weight: 500;
          transition: .4s ease;
        }
      }

      .active {
        background-color: var(--PrimaryColor);
        color: white;
        cursor: pointer;
        font-weight: 500;
      }
    }

    .searchInputs {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;

      .singleInput {
        .iconDiv {
          padding: 16px 10px;
          border-radius: 3rem;
          background: var(--SecondryColor);
          margin-right: 1rem;

          .icon {
            color: black;
            opacity: .7;
          }
        }

        .texts {
          .h4 {
            padding-top: 0;
            padding-bottom: .7rem;
            color: black;
            font-weight: 700;
          }

          .inp {
            width: 95%;
            border: none;
            outline: none;
            background: transparent;

            &::placeholder {
              font-size: 13px;
              opacity: .5;
            }
          }
        }
      }

    }
  }
}

/******************** Support ********************/
.support {
  .sectionContainer {
    .titlesDiv {
      text-align: center;

      .smallp {
        letter-spacing: .8rem;
        text-transform: uppercase;
        font-size: 13px;
        color: black;
        line-height: 1.5rem;
      }
    }

    .infoDiv {
      margin-top: 2rem;
      gap: 1.5rem;

      .textDiv {
        gap: 1.5rem;

        .singleInfo {
          margin-top: 2rem;

          .number {
            background: var(--PrimaryColor);
            padding: 5px 12px;
            width: 40px;
            border-radius: 3rem;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            color: white;
          }

          .colorOne {
            background: var(--ColorOne);
          }

          .colorTwo {
            background: var(--ColorTwo);
          }
        }
      }

      .imgDiv {
        margin: auto;

        .myimg {
          width: 100%;
          max-width: 420px;
        }
      }
    }
  }
}

/******************** Info ************************/
.info {
  background: var(--SecondryColor);

  .infoContainer {
    .titleDiv {
      flex-direction: column;
      text-align: center;
      gap: 1.5rem;
      justify-content: space-between;
    }

    .cardsDiv {
      gap: 1.5rem;
      margin-top: 3rem;

      .singleCard {
        background: white;
        padding: 3rem 2rem;
        border-radius: 10rem;
        gap: 1rem;
        text-align: center;
        margin: auto;
        height: 320px;
        width: 90%;
        max-width: 250px;
      }
    }

    .iconDiv {
      justify-content: center;
      margin: auto;
      background: var(--PrimaryColor);
      width: max-content;
      height: 55px;
      padding: 1rem;
      border-radius: 3rem;

      .icon {
        color: white;
      }
    }

    .cardTitle {
      color: black;
      font-weight: 700;
    }

    .colorOne {
      background: var(--ColorOne);
    }

    .colorTwo {
      background: var(--ColorTwo);
    }
  }
}

/******************** Lounge ************************/
.lounge {
  .sectionContainer {
    gap: 1.5rem;

    .imgDiv {
      margin: auto;

      .imagelounge {
        width: 100%;
        max-width: 430px;
      }
    }

    .textDiv {
      .grids {
        margin-top: 1rem;
        gap: 1.5rem;

        .singleGrid {
          .gridTitle {
            display: block;
            padding-bottom: .5rem;
            font-weight: 500;
            color: black
          }
        }
      }
    }
  }
}

/******************** Travelers ************************/
.travelers {
  .sectionContainer {
    text-align: center;

    .travelersContainer {
      margin-top: 1rem;
      gap: 1.5rem;

      .singleTraveler {
        position: relative;
        height: 320px;
        width: 85%;
        max-width: 250px;
        overflow: hidden;
        border-radius: 10rem;
        gap: 1rem;
        margin: auto;

        .destinationImage,
        .travelImg,
        .travelerName {
          position: absolute;
        }

        .destinationImage {
          height: 100%;
          width: 100%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          object-fit: cover;
        }

        .travelImg {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
          bottom: 30px;
          left: 40%;
          transform: translateX(-50%);
          border: 5px solid rgba(180, 180, 180, 0.637);
          transition: var(--transition);
          animation: animated 1.5s infinite;
        }

        .travelerName {
          bottom: -100%;
          width: 100%;
          height: max-content;
          background: white;
          padding: 1.5rem 1rem;
          transition: var(--transition);
          animation: animatedBorders 1.5s infinite;

          .spantext {
            display: block;
            color: black;
            font-weight: 700;
          }

          .ptext {
            color: var(--PrimaryColor);
            font-style: italic;
          }

        }

        &:hover {
          .travelerName {
            bottom: 0;
            transition: .6s ease-in-out;
          }

          .travelImg {
            bottom: 110px;
            transition: .6s ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes animated {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animatedBorders {
  0% {
    border-radius: 0rem;
  }

  50% {
    border-radius: 2rem;
  }

  100% {
    border-radius: 0rem;
  }
}

/******************** Subcribers ****************/
.subscribe {
  background: var(--SecondryColor);

  .sectionContainer {
    text-align: center;

    .inputDiv {
      padding-bottom: 1rem;
      margin-top: 1rem;
      flex-direction: column;
      background: white;
      border-radius: 1rem;

      .myinput {
        width: 70%;
        border: none;
        outline: none;
        background: transparent;
        padding: 1rem 0.5rem;

        &:placeholder-shown {
          font-size: 13px;
          opacity: .5;
        }
      }
    }
  }
}

/******************** Footer ****************/
.footer {
  background: var(--SecondryColor);

  .sectionContainer {
    gap: 2.5rem;

    .gridOne {
      gap: 1rem;
      justify-content: center;
      margin: auto;

      .logoDiv {
        .logo {
          width: 20%;
        }
      }

      .socialIcon {
        margin-top: 1rem;
        gap: .5rem;

        .icon {
          height: 50px;
          width: 30px;
          border-radius: 10rem;
          border: 1px solid var(--BorderColor);
          box-shadow: var(--boxshadow);
          padding: .3rem;
          color: grey;

          &:hover {
            background-color: var(--PrimaryColor);
            color: white;
            transform: translateY(-7px);
            transition: var(--transition);
            border: 1px solid var(--PrimaryColor);
          }
        }
      }
    }

    .footerLinks {
      display: grid;

      .linkTitle {
        color: black;
        font-weight: 500;
        display: block;
        padding-bottom: 1rem;
      }

      .mya {
        display: block;
        color: var(--GreyText);
        transition: var(--transition);

        &:hover {
          transform: translateX(7px);
          color: var(--PrimaryColor);

        }
      }
    }
  }
}


/****************** Media queries ****************/
@media screen and (max-width: 480px) {
  .subscribe {
    .sectionContainer {
      .inputDiv {
        .myinput {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {

  .home {
    padding-top: 12rem;
  }

  .search {
    .sectionContainer {
      .searchInputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .travelers {
    .sectionContainer {
      .travelersContainer {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .subscribe {
    .sectionContainer {
      max-width: 80%;
      margin: auto;

      .inputDiv {
        flex-direction: row;
        padding: 0 0.5rem;
        border-radius: 3rem;
      }
    }
  }

  .footer {
    .sectionContainer {
      align-items: flex-start;
      grid-template-columns: repeat(2, 1fr);

      .footerLinks {
        justify-content: centerw;
      }
    }
  }
}

@media screen and (min-width: 570px) {
  .home {
    .mainText {
      width: 80%;
    }

    .homeImages {
      .video {
        border-radius: 15rem;
      }

      .plane {
        position: absolute;
        width: 100%;
      }
    }
  }

  .search {
    .sectionContainer {
      .btns {
        border-radius: 3rem;
        flex-direction: row;
      }
    }
  }

  .support {
    .sectionContainer {
      .infoDiv {
        .textDiv {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  .info {
    .infoContainer {
      .titleDiv {
        flex-direction: row;

        .myh2 {
          text-align: left;
          max-width: 500px;
        }
      }

      .cardsDiv {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .lounge {
    .sectionContainer {
      .textDiv {
        .grids {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  .subscribe {
    .sectionContainer {
      .inputDiv {
        justify-content: space-between;

        .btn {
          max-width: max-content;
        }
      }
    }
  }

  .footer {
    .sectionContainer {
      padding-top: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 680px) {
  .home {
    .mainText {
      width: 80%;
    }
    .homeImages {
      .videoDiv {
        width: 80%;

        .video {
          height: 100%;
          width: 100%;
          border-radius: 15rem;
        }
      }
      .plane {
        width: 95%;
        left: 3%;
        
      }
    }
  }

  .search {
    .sectionContainer {
      .btn {
        border-radius: 3rem;
        flex-direction: row;
      }

      .searchInputs {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .footer {
    .sectionContainer {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    align-items: center;

    .navbarone {
      .none {
        display: flex;
        gap: 1.5rem;

        .myli {
          font-size: 13px;
          gap: .5rem;
          color: var(--TextColor);

          &:hover {
            color: var(--PrimaryColor);
            text-decoration: underline;
          }
        }
      }
    }

    .navbartwo {
      justify-content: space-between;
      align-items: center;

      .logodiv {
        .logo {
          max-width: 20%;
        }
      }

      .menu {
        flex-direction: row;
        gap: .5rem;

        .listItem {
          padding: 0 .5rem;
          font-size: 14px;
          cursor: pointer;
          color: var(--TextColor);
          font-weight: 700;

          &:hover {
            color: var(--PrimaryColor);
            font-weight: 700;
          }
        }
      }
    }
  }
  .search{
      .sectionContainer{
        .btns{
          width: 70%;
          border-radius: 3rem;
          flex-direction: row;
        }
        .searchInputs{
          grid-template-columns: repeat(4,1fr);
          .singleInput{
            .texts{
              .inp{
                width: 100%;
              }
            }
          }
        }
      }
  }
  .support{
      .sectionContainer{
        .infoDiv{
          grid-template-columns: repeat(2,1fr);
          gap: 2rem;
          margin-top: 5rem;
          .textDiv{
            margin-top: -4rem;
            grid-template-columns: repeat(1,1fr);
          }
        }
      }
  }
  .info{
    .infoContainer{
      padding: 0 6rem;
      .titleDiv{
        width: 90%;
        margin: auto;
        align-items: center;

      }
      .cardsDiv{
        grid-template-columns: repeat(3,1fr);
        .singleCard{
          max-width: 260px;
          padding: 3rem 1rem;
        }
      }
    }
  }
  .lounge{
    .sectionContainer{
      grid-template-columns: repeat(2,1fr);
      .textDiv{
        grid-area: 1;
        .grids{
          grid-template-columns: repeat(2,1fr);
        }
      }
    }
  }
}
@media screen and (min-width: 960px) {
  .home{
    padding-top: 13rem;
    .mainText{
      width: 70%;
      padding-bottom: 1.5rem;
      font-size: 22px;
      line-height: 4rem;
    }
  }
  .search{
    .sectionContainer{
      .searchInputs{
        grid-template-columns: repeat(5,1fr);
      }
    }
  }
  .travelers {
    .sectionContainer {
      .travelersContainer {
        grid-template-columns: repeat(4, 1fr);
        margin: 3rem 0;
      }
    }
  }

}
@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 27px;
  }
  .section {
    padding: 6rem 0 4rem;
  }
  
  .container {
    width: 75%;
    margin: auto;
  }
  .navbar{
    .navbarone,.navbartwo{
      padding: 1rem 5rem;
    }
    .navbar_With_Bg{
      padding: 0 5rem;
    }
  }
  .home{
    .mainText{
      width: 60%;
      font-size: 25px;
      line-height: 4rem;
    }
    .homeImages{
      .videoDiv{
        width: 90%;
        height: 300px;
        .video{
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 15rem; 
        }
      }
      .plane{
        width: 90%;
        top: -15%;
        left: -1.5%;
      }
    }
  }
  .search{
    .sectionContainer{
      .btns{
        width: 50%;
      }
    }
  }
}
@media screen and (min-width: 1106) {
  .subscribe{
    .sectionContainer{
      max-width: 60%;
    }
  }
}
@media screen and (min-width: 1332px) {
.navbar{
  .navbarone
  {
    .menu{
      gap: 1rem;
      .listItem{
        padding: 0 1rem;
        font-size: 14px;
      }
    }
  }
}
.support{
  .sectionContainer{
    .infoDiv{
      gap: 1rem;
      .textDiv{
        .singleInfo{
          .mp{
            max-width: 500px;
          }
        }
      }
    }
  }
}
.subscribe{
  .sectionContainer{
    max-width: 50%;
  }
}
}
@media screen and (min-width: 1440px) {
  .home{
    .homeImages{
      .plane{
        width: 90%;
        top: -25%;
        left: 3%;
      }
    }
  }
}
::selection{
  background-color: var(--PrimaryColor);
  color: white;
}
/*
::-webkit-scrollbar{
  width: 8px;
  background-color: var(--GreyBg);
}
::-webkit-scrollbar-thumb{
  background-color: var(--PrimaryColor);
  border-radius: 10px;
}
*/